<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.java.mapper.UserMapper">

    <select id="createTable" parameterType="java.lang.String">
        CREATE TABLE ${tableName} (
        `id` bigint(10) NOT NULL AUTO_INCREMENT COMMENT 'ID',
        `machineCode` varchar(60) DEFAULT NULL COMMENT '设备号（安卓为IMEI，iOS为IDFV）',
        `specCode` varchar(60) DEFAULT NULL COMMENT '特别码（安卓为安卓id，ios为推送设备号）',
        `mobile` varchar(20) DEFAULT NULL COMMENT '手机号',
        `privacyVersion` varchar(300) DEFAULT NULL COMMENT '隐私协议版本',
        `mobileTime` datetime NOT NULL COMMENT '签署时手机时间',
        `machineTime` bigint(20) NOT NULL COMMENT '签署时机器时间',
        PRIMARY KEY (`id`)
        ) ENGINE=InnoDB DEFAULT CHARSET=utf8 COMMENT='信e投隐私协议签署记录';
    </select>

    <insert id="insert">
        insert into user (
        nickname,
        birthday,
        password,
        sex
        )values(
        #{user.nickname},
        #{user.birthday},
        #{user.password},
        #{user.sex}
        )
    </insert>

    <select id="find" resultType="cn.java.model.User">
        select * from user
    </select>


</mapper>